<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1530064161350-7824b8cdeee9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');">
  <div class="banner-content">
    <h1>Ezgis Cocktails</h1>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
      <div class="col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
          <div class="card-body">
            <div class="cocktail-name">
              <h1><%= cocktail.name %></h1>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="autor">
            <h2>by <%= cocktail.author %></h2>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>

</div>
